.feedback
{
	position:fixed;
	top:90px;
	right:-1px;
}

.feedback a 
{
	display:block;
	position:fixed;
	top:100px;
	right:-1px;
	background:none;
	padding:7px 5px;
}

.feedback .form
{
	text-align:center;
	height:500px;
	width:450px;
	border:3px solid #000;
	background:grey;
	padding:10px;
	display:none;
	z-index: 2000;

    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.7); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

.feedback input,
.feedback textarea,
.feedback select
{
	text-align:center;
	font-size:16px;
	padding:5px;
	border-width:3px;
	/*border-radius:28px; */
 	border-color:#000000;
 	text-shadow:0px 0px 0px rgba(42,42,42,.75);
 	box-shadow: -3px -3px 0px 0px rgba(59,59,59,.75);
 	font-weight:normal; 
 	font-family:monospace;
 	width: 350px;
}

.feedback input[type=reset],
.feedback input[type=cancel],
.feedback input[type=submit]
{
 	width: 100px;
}

.feedback input.name
{
	background:white url("http://localhost/ci/assets/images/icons/user.png") no-repeat 10px 8px;
}

.feedback input.email
{
	background:white url("http://localhost/ci/assets/images/icons/email.png") no-repeat 10px 8px;
}

.feedback input.contact
{
	background:white url("http://localhost/ci/assets/images/icons/contact.png") no-repeat 10px 8px;
}

.feedback textarea.message
{
	background:white url("http://localhost/ci/assets/images/icons/message.png") no-repeat 10px 8px;
}


.span:focus { outline:none; } 

/* Asms Home CSS */

.asms_home
{
	
	display: inline-block;
	
}

.asms_home input[type=submit]
{
	font-size:16px;
 	font-weight:normal; 
 	font-family:monospace;
	border-width:1px;
 	border-color:#000000;
 	text-shadow:0px 0px 0px rgba(42,42,42,.75);
 	box-shadow: -3px -3px 0px 0px rgba(59,59,59,.75);
 	width: 200px;
 	height: 45px;
}

.asms_home input
{
	text-align:center;
	font-size:16px;
	padding:10px;
	border-width:1px;
	/* border-radius:28px; */
 	border-color:#000000;
 	text-shadow:0px 0px 0px rgba(42,42,42,.75);
 	box-shadow: -3px -3px 0px 0px rgba(59,59,59,.75);
 	font-weight:normal; 
 	font-family:monospace;
 	width: 300px;
}

.asms_home input.name
{
	background:white url("http://localhost/ci/assets/images/icons/user.png") no-repeat 10px 8px;
}

.asms_home input.email
{
	background:white url("http://localhost/ci/assets/images/icons/email.png") no-repeat 10px 8px;
}



/* Effect 10: Corner indicator */
.la-anim-10 {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 300px;
	background: #ed4e6e;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
	transform: translateX(100%) translateY(-100%) rotate(45deg);
	pointer-events: none;
}

.la-anim-10.la-animate {
	-webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
	transform: translateX(50%) translateY(-50%) rotate(45deg);
}

/* Loading circle idea from http://codepen.io/Metty/details/lgJck */
.la-anim-10::before,
.la-anim-10::after {
	position: absolute;
	bottom: 30px;
	left: 50%;
	display: block;
	border: 5px solid #fff;
	border-radius: 50%;
	content: '';
}

.la-anim-10::before {
	margin-left: -40px;
	width: 80px;
	height: 80px;
	border-right-color: #bb344f;
	border-left-color: #bb344f;
	-webkit-animation: rotation 3s linear infinite;
	animation: rotation 3s linear infinite;
}

.la-anim-10::after {
	bottom: 50px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border-top-color: #bb344f;
	border-bottom-color: #bb344f;
	-webkit-animation: rotation 1s linear infinite;
	animation: rotation 1s linear infinite;
}


@-webkit-keyframes rotation {
	0% 		{ -webkit-transform: rotate(0deg); }
	50% 	{ -webkit-transform: rotate(180deg); }
	100% 	{ -webkit-transform: rotate(360deg); }
}

@keyframes rotation {
	0% 		{ transform: rotate(0deg); }
	50% 	{ transform: rotate(180deg); }
	100% 	{ transform: rotate(360deg); }
}
